.rodape_container {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.rodape_logos {
    display: flex;
    flex-direction: row;
    gap:16px;
    align-items: center;
}

.rodape_logos li {
    list-style-type: none;
}

.rodape_logos img {
    max-height: 50%;
}

.rodape_container div h5 {
    font-size: 16px;
}

.rodape {
    background-color: #55afc5;
    color: azure;
    max-width: 100%;
    text-align: center;
    padding: 6px;
}


.rodape_link a{
    text-decoration: none;
    color: azure;
    font-size: 14px;
}